<header class="site-header">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">

  <nav class="navbar">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <ul class="site-nav">
    <li>
        {% for page in site.pages %}
				{% unless page.exclude_from_nav %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
			{% endunless %}
        {% endfor %}
        </li>
    </ul>

  </div>

</header>
