<header class="site-header">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">

  <div class="wrapper">
<a href="/">
	<div class="icon-logo"><!-- style are in base.scss -->

</div>
</a>
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">



      <div class="">
        {% for page in site.pages %}
				{% unless page.exclude_from_nav %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
			{% endunless %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
