---
---

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
} /* ==Colour variables============= */
$dark-brown: hsl(32, 39%, 18%);
body {
  background-color: hsl(44, 44%, 90%);
  color: $dark-brown;
}
